{% extends 'base.html' %} {% block title %}My Top 10 Movies{% endblock %} {%
block content %}
<div class="container">
  <h1 class="heading">My Top 10 Movies</h1>
  <p class="description">These are my all-time favourite movies.</p>

  {%for book in books%}
  <div class="card">
    <div
      class="front"
      style="
        background-image: url({{book.img_url}});
      "
    >
      <p class="large">{{book.ranking}}</p>
    </div>
    <div class="back">
      <div>
        <div class="title">{{book.title}} <span class="release_date">({{book.year}})</span></div>
        <div class="rating">
          <label>{{book.rating}}</label>
          <i class="fas fa-star star"></i>
        </div>
        <p class="review">"{{book.review}}"</p>
        <p class="overview">
          {{book.description}}
        </p>

        <a href="{{url_for('update', id=book.id)}}" class="button">Update</a>
        <a href="{{url_for('delete', id=book.id)}}" class="button delete-button">Delete</a>
      </div>
    </div>
  </div>
  {%endfor%}
</div>
<div class="container text-center add">
  <a href="{{url_for('add')}}" class="button">Add Movie</a>
</div>

{% endblock %}
